$grey: #C4C4C4;
$portrait_width: 300px;

html {
	height: 100%;
	background: linear-gradient(180deg, #35D8BA 0%, #23C2C6 100%) no-repeat fixed;
}
body {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	text-align: justify;
}
header {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
}
nav {
	text-align: center;
	margin-bottom: 3.5%;
    button {
        text-align: center;
        font-size: 1.7rem;
        border-radius: 15px;
        background-color: transparent;
        transition-duration: 0.4s;
        color: white;
        border: none;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            background-color: rgb(3, 158, 132);
            box-shadow: 0 16px 16px 0 rgba(1, 85, 50, 0.24), 0 17px 50px 0 rgba(0, 71, 50, 0.19);
        }
    }
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.3rem;
}
section {
	margin: 1%;
}

#rectangle {
	width: 75%;
	height: 83%;
	background: $grey;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: auto;
	&::-webkit-scrollbar {
		width: 1rem;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
}

#container {
	height: 60%;
	display: flex;
	justify-content: center;
}
#member_cards {
	background-color: green;
	align-self: center;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// #align-content: center;

}
.bracket {
	height: 100%;
}

.portrait {

	margin: auto;
	//padding: 2em;
	

}


.member_card {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-self: center;
	flex: 0 1 content;
	max-width: 30%;
	min-width: 25%;

	// padding: 
	//padding: 4em; 
 }