html {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#35D8BA), to(#23C2C6)) no-repeat fixed;
  background: linear-gradient(180deg, #35D8BA 0%, #23C2C6 100%) no-repeat fixed;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: justify;
}

header {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 2%;
}

nav {
  text-align: center;
  margin-bottom: 3.5%;
}

nav button {
  text-align: center;
  font-size: 1.7rem;
  background-color: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: white;
  border: none;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 8px;
  line-height: 1.2rem;
  padding-bottom: 0.4rem;
  text-indent: 0;
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  margin: auto;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  font-size: 2rem;
}

main h2 {
  font-size: 1.3rem;
}

main section {
  margin: 1%;
}

#rectangle {
  width: 70%;
  height: 100%;
  background: #c4c4c4;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
}

#rectangle::-webkit-scrollbar {
  width: 1rem;
}

#rectangle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#rectangle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#border {
  left: calc(15% - 0.9rem);
  width: 70%;
  height: calc(60% - 1.8rem);
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 0%, 95% 0%, 95% 100%, 5% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 0%, 95% 0%, 95% 100%, 5% 100%, 100% 100%, 100% 0%);
  border: 0.9rem solid white;
}

#about {
  font-size: 1em;
}

#projects {
  font-size: 1em;
}

#members #member_cards {
  background-color: #a6a6a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#members .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  min-width: 350px;
}

#members .member_card {
  min-width: 0;
  max-width: 300px;
  border: 2px solid black;
  background-color: darkolivegreen;
  border-radius: 6px;
  padding: 6px;
  margin: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#members .member_card * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#members .member_card ul {
  word-break: break-all;
}

#contact {
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */